# Python
__pycache__/
*.py[cod]
env/
venv/
.venv/
*.env

# Node
node_modules/
build/

# Docker
*.log
.env.local
docker-compose.override.yml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Chroma DB files (if local)
chroma_db/

# Caches
.cache/
~/.cache/huggingface/
~/.cache/torch/
.env.example

